* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFEECF;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
    color: #F28231;
}
.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.countdown{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.day,.hour,.minute,.second{
    font-size: 3rem;
}
.pic{
    height: 50vh;
}